@use 'vuetify' with ($color-pack: false);

html {
  overflow-y: hidden;
}

.main-content {
  height: calc(100vh - 64px);
}

.scrollable-container {
  flex-grow: 1;
  height: 0;
  overflow-y: auto;
}

